select {
    color: red;
}
#changeToGreen {color: green;}
#changeToRed {color:red;
margin : 200 200 200 200;
font-size: 20px;
 ;
}
#doBorder { 
    padding-left: 10px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: -100px;
    position:absolute;
    font-weight: 900px;
    font-size: 20px;
    border: 1px solid black ;
    margin-left: 60px;
    margin-top:-20px;
    margin-right: 50px;
}
img {

    float :left;
    height: 30px;
    width: 30px;
}
a {
    padding-left:200px;
}
body {
    margin: 10px 150px 10px 150px ;
}

h1 {
    padding-left:300px;
}
p {
padding-left: 50px;
}
#zoom {
width:50px;
height:50px;
}
form {
    margin-top: 75px;
    padding-left:20px ;
    padding-right:20px ;
}
label{
    padding-right: 0px;
    
}
input{
    margin-right: 700px;
}
.blue{
    background-color:aqua;
    color: blue;
}
#colored{
    -webkit-text-stroke: .5px red; /* width and color */

    font-family: sans; color: black;


}
.shift{
    margin-left: 290px;
}